/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin: auto;
	max-width: 1140px;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2, #login h1{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

a {
	color: black;
	text-decoration: none;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li a {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover, #login a:hover, .edit:hover {
	color: #B1663C;
}

.login-nav {
	font-weight: 800;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.gallery-edit {
	margin-top: 80px;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]:not(.modal-validate-button, .modal-validate-button-validate){
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.button {
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
	border-radius: 60px ;
	height: 50px;
	font-size: 1.2em;
	border-style: solid;
	border-color: #1D6154;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: auto;
	padding: 0 2em;
	margin: 2em 0.5em;
	background-color: white;
	color: #1D6154;
	cursor: pointer;
}

.button-active {
	color: white;
	background-color: #1D6154;
}

.edit {
	display: flex;
	position: relative;
	gap: 10px;
	left: 690px;
	bottom: 53px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	background: none;
}

.modal {
	width: 630px;
	height: 688px;
	border-radius: 10px;
	border: none;
	padding: 0;
}

.modal::backdrop {
	background-color: black;
	opacity: 0.3;
}

.modal-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.close-button {
	position: relative;
	left: 270px;
	top: 25px;
	border: none;
	background: none;
	padding: 5px;
	cursor: pointer;
}

.close-button::after {
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
	content: "\f00d";
	font-size: 20px;
}

.arrow-back {
	position: absolute;
	top: 25px;
	left: 25px;
	border: none;
	background: none;
	padding: 5px;
	cursor: pointer;
}

.modal-title {
	text-align: center;
	font-size: 26px;
	margin-top: 40px;
}

.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 11px;
	margin: 40px 100px 10px 100px;
}

.modal-gallery::after {
	position: relative;
	content: "";
	border-top: #B3B3B3 solid 1px;
	width: 420px;
	margin-top: 50px;
}
.modal-form-add::after {
	position: relative;
	content: "";
	border-top: #B3B3B3 solid 1px;
	width: 420px;
	bottom: 100px;
}

.modal-img {
	width: 77px;
	padding-bottom: 15px;
	z-index: 1;
}

.button-delet {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: black;
	border: none;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	margin: 5px 0 0 55px;
	cursor: pointer;
}

.modal-form-add {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	gap: 10px;
}

*:focus {
	outline: none;
}

.modal-img-add-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	padding: 20px 0;
	gap: 10px;
}

.modal-img-logo::before {
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font: var(--fa-font-regular);
	content: "\f03e";
	font-size: 68px;
	color: #B9C5CC;
}

.img-add-button-error::before {
	content: "Fichier trop volumineux ou format de fichier non valide.";
	position: absolute;
	top: 223px;
	font-size: 14px;
	color: red;
}

.modal-img-add-container p {
	font-size: 10px;
	color: #444444;
}

.modal-img-add-container-preview {
	height: 184px;
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #E8F1F6;
}

.modal-img-preview {
	width: 129px;
	height: auto;
}

.img-add-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #306685;
	background-color: #B9C5CC;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	cursor: pointer;
}

.modal-form-add label:not(.img-add-button, .modal-selector) {
	margin-top: 20px;
	color: #3D3D3D;
}

.modal-form-add input[type="text"], .modal-selector select {
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding: 18px;
	font-size: 14px;
	font-family: 'Work Sans';
	color: #444444;
}

.modal-selector {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #6C6C6C;
	display: -moz-inline-stack;
    display: inline-block
}

.modal-selector::after {
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
	content: "\f078";
	font-size: 12px;
	color:#6C6C6C;
	position: absolute;
	bottom: 18px;
	left: 380px;
	z-index: -1;
	
}

.modal-selector select {
	width: 100%;
	background: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	cursor: pointer;
}


.modal-validate-button {
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
	border-radius: 60px ;
	height: 36px;
	font-size: 14px;
	border-style: solid;
	border-color: #A7A7A7;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: auto;
	padding: 0 4em;
	margin: 5.5em auto 1em auto;
	color: white;
	background-color: #A7A7A7;
	cursor:not-allowed;
}
.modal-validate-button-validate {
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
	border-radius: 60px ;
	height: 36px;
	font-size: 14px;
	border-style: solid;
	border-color: #1D6154;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: auto;
	padding: 0 4em;
	margin: 5.5em auto 1em auto;
	color: white;
	background-color: #1D6154;
	cursor:pointer;
}

.modal-change-button {
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
	border-radius: 60px ;
	height: 36px;
	font-size: 14px;
	border-style: solid;
	border-color: #1D6154;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: auto;
	padding: 0 4em;
	margin: 2em 0.5em;
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

#login {
	width: 50%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 20%;
}
#login a {
	display: flex;
	justify-content: center;
	text-align: center;
	text-decoration: underline;
}

#login span {
	display: flex;
	justify-content: center;
	color: red;
	font-weight: 700;
	font-size: 16px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.header-edit-active {
	display: flex;
	justify-content: center;
	color: white;
	background-color: black;
	padding: 22px 0;
	gap: 15px;
	font-size: 16px;
}